@page
@model TrackingModel
@{
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Fashon Category</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <div class="cart_inner">
            @if (Model.Orders.Any())
            {
                <div class="table-responsive">
                    <table class="table" id="cart_table">
                        <thead>
                        <tr>
                            <th scope="col">Order</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var orderModel in Model.Orders)
                        {
                            <tr data-product-id="@orderModel.Id">
                                <td>
                                    @orderModel.Id
                                </td>
                                <td>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in orderModel.OrderItems)
                                        {
                                            <tr>
                                                <td>
                                                    <p>@item.ProductId</p>
                                                </td>
                                                <td>
                                                    <h5>x @item.Quantity</h5>
                                                </td>
                                                <td>
                                                    <p>$@(item.Price * item.Quantity)</p>
                                                </td>
                                            </tr>
                                        }

                                        <tr>
                                            <td>
                                                <h4>Subtotal</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p>$@orderModel.TotalPrice</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>Shipping</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p>Flat rate: $5.00</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>Total</h4>
                                            </td>
                                            <td>
                                                <h5></h5>
                                            </td>
                                            <td>
                                                <p>$@(orderModel.TotalPrice + 5)</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <h5 class="item-price">$@orderModel.Status</h5>
                                </td>
                            </tr>
                        }

                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" asp-page="/ProductList">Continue Shopping</a>
                                    <a class="primary-btn" asp-page="/Checkout">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h3>
                    You have yet add anything to your cart
                </h3>
                <button class="btn btn-outline-info">
                    Back to buy something!
                </button>
            }
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->